*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px;
    background-color: rgb(207, 191, 240);
    text-align: center;
}

h1{
    font-size: 40px;
    color: rgb(235, 137, 151);
}





.card {
    width: 100%;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .card {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }



}