*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px;
    background-color: lightpink;
    text-align: center;
}




.card {
    width: 100%;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .card {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }



}